[www]

user = {{ php7_fpm_user }}
group = {{ php7_fpm_group }}

listen = {{ php7_fpm_listen }}

{% if php7_fpm_listen_type == "socket" %}
listen.owner = {{ php7_fpm_user }}
listen.group = {{ php7_fpm_group }}
listen.mode = 0660
{% endif %}

{% if php7_fpm_listen_acl_users is defined %}
listen.acl_users = {{ php7_fpm_listen_acl_users }}
{% endif %}
{% if php7_fpm_listen_acl_users is defined %}
listen.acl_groups = {{ php7_fpm_listen_acl_users }}
{% endif %}

listen.allowed_clients = {{ php7_fpm_listen_allowed_clients }}

{% if php7_fpm_process_priority is defined %}
process.priority =  {{ php7_fpm_process_priority }}
{% endif %}

pm = {{ php7_fpm_pm }}

pm.max_children = {{ php7_fpm_pm_max_children }}
pm.start_servers = {{ php7_fpm_pm_start_servers }}
pm.min_spare_servers = {{ php7_fpm_pm_min_spare_server }}
pm.max_spare_servers = {{ php7_fpm_pm_max_spare_servers }}
pm.process_idle_timeout = {{ php7_fpm_pm_process_idle_timeout }};
pm.max_requests = {{ php7_fpm_pm_max_requests }}
pm.status_path = {{ php7_fpm_pm_status_path }}
ping.path = {{ php7_fpm_ping_path }}
ping.response = pong

{% if php7_fpm_access_log is defined %}
access.log = {{ php7_fpm_access_log }}
{% endif %}

slowlog = {{ php7_fpm_slowlog }}

request_slowlog_timeout = {{ php7_fpm_request_slowlog_timeout }}

rlimit_files = {{ php7_fpm_rlimit_files }}

{% if php7_fpm_chroot is defined %}
chroot = {{ php7_fpm_chroot }}
{% endif %}
clear_env = {{ php7_fpm_clear_env }}

security.limit_extensions = .php .php3 .php4 .php5 .php7

{% for key, value in php7_admin_values.iteritems() %}
php_admin_value[{{ key }}] = {{ value }}
{% endfor %}

{% for key, value in php7_admin_flags.iteritems() %}
php_admin_flag[{{ key }}] = {{ value }}
{% endfor %}

{% for key, value in php7_values.iteritems() %}
php_value[{{ key }}] = {{ value }}
{% endfor %}

{% if php7_fpm_includes is defined %}
{% for filename in php7_fpm_includes %}
include = {{ filename }}
{% endfor %}
{% endif %}
